html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{font-family: 'Lato',Helvetica, sans-serif;}

html, body, div, span,h1, h2, h3, h4, h5, h6, p, a, address,
img, sub, sup, ol, ul, li, fieldset, form, label,table,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figure, figcaption, footer, header, menu, nav, section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/*
 HEADER MOBILE
 */
 .header-menu {
  display: none;
}
@media only screen and (max-width: 1004px){
  .header-menu {
    display: inline-block;
    position: relative;
  }
  .header-menu svg {
    width:82px;
    fill: #FBFCFF;
  }
  .core-nav-items{
    transform: translate(-40000px, 0);
    transition: transform 1s;
  }
  .core-nav-item{
    width: 100%;
    height: 70px;
  }
  .core-nav{
    display: flex;
    height: auto !important;
  }
  .open-menu{
    flex-wrap: wrap;
    text-align: center;
    transform: translate(0,0);
  }
}
/*
 HEADER
 */
header{
  display:block;
  background: repeating-linear-gradient(
    to right,
    #d6efff,
    #d6efff 30px,
    #BB0A21 30px,
    #BB0A21 31px);
  height: 100vh;
  max-width: 100%;
}
.core-nav{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100px;
}
.core-nav-items{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 30px;
  width: 100%;
}
.core-nav-item{
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  color: #FFF;
}
.core-nav-item:hover{

}
.core-nav-item-active {
  color:red;
}
.core-nav-item > a {
  text-decoration: none;
  color: inherit;
  font: 400 1.8rem 'Josefin Sans', sans-serif;
  font-variant: small-caps;
}
.core-nav-item-contact{
  margin-left: auto;
}
