html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{font-family: 'Lato',Helvetica, sans-serif;}

html, body, div, span,h1, h2, h3, h4, h5, h6, p, a, address,
img, sub, sup, ol, ul, li, fieldset, form, label,table,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figure, figcaption, footer, header, menu, nav, section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
a:visited{
  color: grey;
}

/*
 HEADER MOBILE
 */
 .header-menu{
  display: none;
}
@media only screen and (max-width: 1004px){
  .header-menu {
    display: inline-block;
    position: relative;
  }
  .header-menu svg {
    width:82px;
    fill: #FBFCFF;
  }
  .core-nav-items{
    transform: translate(-40000px, 0);
    transition: transform 1s;
  }
  .core-nav-item{
    width: 100%;
    height: 70px;
  }
  .core-nav{
    display: flex;
    height: auto !important;
  }
  .open-menu{
    flex-wrap: wrap;
    text-align: center;
    transform: translate(0,0);
  }
}
/*
 HEADER
 */
header{
  display:block;
  background: repeating-linear-gradient(
    180deg,
    #d6efff,
    #d6efff 30px,
    #BB0A21 30px,
    #BB0A21 31px);
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
.core-nav{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 94px;
  padding: 0;
}
.core-nav-items{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.core-nav-item{
  list-style-type: none;
  display: inline-block;
  padding: 30px;
  color: #FFF;
}
.core-nav-item:not(.core-nav-item-active):hover{
  background: rgba(255,255,255,0.2);
}
.core-nav-item-active {
  color:red;
}
.core-nav-item > a {
  text-decoration: none;
  color: inherit;
  font: 400 1.8rem 'Josefin Sans', sans-serif;
  font-variant: small-caps;
}
.core-nav-item-right{
  margin-left: auto;
}

/*
HERO HEADER
*/
.mountains-scene{
  /* background-color: #d6efff; */
  width: 90%;
  height: 100%;
  font-size: 109vmin;
  margin: 0 auto;
  position: relative;
}
.mountains-scene div,  .mountains-scene ::before, .mountains-scene ::after{
  position: absolute;
}
.mountain{
  background: grey;
  bottom: 0%;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.one{
  background:#a4a9ad;
  height: .3em;
  width: .64em;
  left: -20%;
}
.two{
  background: #aeb4a9;
  z-index:3;
  height: .5em;
  width: .7em;
  left: 5%;
}
.three{
  height: .6em;
  z-index: 1;
  left: 30%;
  width: .6em;
}
.four{
  background: #9ad5ca;
  height: .3em;
  z-index: 2;
  left: 40%;
  width: .6em;
}
.five{
  background: #acdde7;
  height: .3em;
  z-index: 0;
  left: 55%;
  width: .6em;
}
.six{
  background-color: #8ba6a9;
  height: .3em;
  z-index: 1;
  left: 70%;
  width: .6em;
}
.mountain::after{
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 75% 50%, 60% 35%, 50% 50%, 39% 40%, 25% 50%);
  -webkit-clip-path: polygon(50% 0%, 75% 50%, 60% 35%, 50% 50%, 39% 40%, 25% 50%);
}
.hero-description{
  top: 46px;
}
.hero-description{
  -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform: scale(1);
  transition: all 1s;
  animation-dely:2s;
  animation: 1400ms zoom-text ease;
}

@keyframes zoom-text {
  0% { transform: scale(0);
  -webkit-transform: scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
 }
  100% { transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
  }
}
.hero-welcome{
  position: absolute;
  top: 182px;
  left: 367px;
  font-size: 236px;
  font-weight: 400;
  text-shadow: 1px 0px 1px #ccc,
    0px 1px 1px #eee,
    2px 1px 1px #ccc,
    1px 2px 1px #eee,
    3px 2px 1px #ccc,
    2px 3px 1px #eee,
    4px 3px 1px #ccc,
    3px 4px 1px #eee,
    5px 4px 1px #ccc,
    4px 5px 1px #eee,
    6px 5px 1px #ccc,
    5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.hero-txt{
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 21px;
}
.name-hero{
  font-size: 3rem;
}
.job-hero{
  font-size: 2rem;
}
.hero-work-btn{
  background-image: linear-gradient(to top,
    rgb(164, 207, 232),
    rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(90deg,
    rgb(164, 207, 232),
    rgb(255, 255, 255));
  background-image: -moz-linear-gradient(to top,
    rgb(164, 207, 232),
    rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(to top,
    rgb(164, 207, 232),
    rgba(0, 0, 0, 0.1));
  shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06);
  border: 2px solid #BBDBEE;
  width: 279px;
  height: 63px;
  display: block;
  /* left: 27px; */
  /* top: 139px; */
  /* position: absolute; */
}
.btn-styles{
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  font-weight: 500;
  cursor: pointer;
}
